
/* Added */

.navtop div a h1 {
    padding:0
}

.navtop div a:nth-child(1) {
    flex:1 ;
}

.error {
    color: rgb(206, 25, 25);
    font-weight: bold;
    padding-left: 1rem;
  }
  .radio-group {
    width: 100%;
    box-sizing: border-box;
    margin:1rem 0;
    padding: 0.5rem 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button[type="cancel"] {
    background: brown;
  }
  button[type="cancel"]:hover {
    background: darkred;
  }
  .insurance-row {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    margin:1rem 0;
    padding: 0.5rem;
  
  
  }
  .insurance-row label {
    width: 20%;
  }
  .insurance-row span {
    width: 5%;
    font-weight: bold;
  }
  .final-row {
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    margin:1rem 0;
    padding: 0.5rem;
  }
  
  .final-row .final-row-name {
    width: 20%;
  }